<%= form_with(model: @dialog, local: true) do |form| %>
  <div class="form-item">
    <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class: "select-box", id: "dialog-category"}) %>
  </div>
  <div class="form-item">
    <%= form.text_field :language, placeholder: "한국어" %>
  </div>
  <div class="form-item">
    <%= form.text_field :translation, placeholder: "日本語" %>
  </div>


  <div class="form-item">
    <%= form.file_field :file, size: 50 %>
  </div>


  <div class="form-item">
  <%= form.text_area :memo, rows: "10", placeholder: "memo" %>
  </div>
  <%= form.submit "保存する", class: "form__btn" %>
<% end %>