<%= form_with(model: @dialog, local: true) do |form| %>
  <div class="form-item">
    <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class: "select-box", id: "dialog-category"}) %>
  </div>
  <div class="form-item">
    <%= form.text_field :language, placeholder: "한국어" %>
  </div>
  <div class="form-item">
    <%= form.text_field :translation, placeholder: "日本語" %>
  </div>

  <div class="form-item">
    <%= form.file_field :file, size: 50 %>
  </div>

  <div class='form-item'>
    <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class='form-check'>
        <%= tag.label class: 'form-check-label' do %>
        <%= tag.check_box class: 'form-check-input' %>
        <%= tag.text %>
        <% end %>
      </div>
      <% end %>
    </div>

  <div class="form-item">
  <%= form.text_area :memo, rows: "10", placeholder: "memo" %>
  </div>
  <%= form.submit "保存する", class: "form__btn" %>
<% end %>