<div class="form-wrapper">
  <div class="logo">
    <a href="<%= root_path %>">
    <img src="<%= asset_path('logo.png') %>" alt="Logo">
    </a>
  </div>
  <div class="user-form-title">
    <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
      <div class="user-form-item">
        <%= f.label :email, "登録しているユーザーでログイン" %>
        <%= f.email_field :email, required: true, placeholder: "Email Address" %>
      </div>
      <div class="user-form-item">
        <%= f.password_field :password, required: true, placeholder: "Password" %>
      </div>
      <div class="user-button-panel">
        <%= f.submit "Log In", class: "user-button", title: "Sign In" %>
      </div>
    <% end %>
  </div>
  <div class="user-form-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>

