<%= render "shared/header" %>
<header class="show__header"></header>

<div class="form-wrapper">
  <div class="user-form-title">
    <div class='user-form-login'>
      Log in
    </div>
    <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
      <div class="user-form-item">
        <%= f.email_field :email, required: true, placeholder: "Email Address" %>
      </div>
      <div class="user-form-item">
        <%= f.password_field :password, required: true, placeholder: "Password" %>
      </div>
      <div class="user-button-panel">
        <%= f.submit "Log In", class: "user-button", title: "Sign In" %>
      </div>
    <% end %>
  </div>
  <div class="user-form-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>

<%= render "shared/footer"%>
