  <!-- Navigation-->
	<%= render "shared/header"%>

  <!-- Page Header-->
  <header class="masthead" style="background-image: url('<%= asset_path('daily-bg.jpg') %>')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
					<div class="post-heading">
            <h1>日常の会話：<%= @daily_dialogs.size %>件</h1>
							<%# <span class="subheading"><h5></h5></span> %>
						<h2 class="subheading">
							<%= form_with(url: search_dialogs_path, local: true, method: :get, class: "search-form") do |form| %>
              <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
	            <button class="search-button"><%= image_tag "search.png", class:"search-icon" %></button>
              <% end %>
						</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content-->
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

  <!-- カテゴリーの投稿を表示 -->
  <div class="dialog-category-posts">
    <% @daily_dialogs.each do |dialog| %>
      <%= render partial: "shared/category", locals: { dialog: dialog } %>
    <% end %>
  </div>

  <!-- 固定のボタン btn-->
    <div class="jump-btn" id="jump">
      <%= link_to(daily_dialogs_path, class: 'jump-btn') do %>
		  <%= image_tag 'airplane.png',class: "post-btn-icon" %>
      <% end %>
    </div>
    <%= render "shared/postbtn"%>

  <!-- Footer-->
  <%= render "shared/footer"%>
