<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wanna Me in</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="index.js"></script>
  </head>

  <body>
  <!-- Navigation-->
		<%= render "shared/header"%>

  <!-- Page Header-->
    <header class="masthead" style="background-image: url('<%= asset_path('home-bg.jpg') %>')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
						<div class="post-heading">

          <h2>
						<% current_hour = Time.now.hour %>
          <% if user_signed_in? %>
            <% if (4..9).include?(current_hour) %>
              <%= "좋은 아침입니다, #{current_user.name}님!"%><br> 
							잘 주무셨나요?							
							<span class="subheading">
						    <h6><%= "おはようございます, #{current_user.name}さん!よくお休みになられましたか？"%></h6>
							</span>
            <% elsif (9..11).include?(current_hour) %>
              <%= "좋은 아침입니다, #{current_user.name}님!"%><br>
							좋은 하루 보내세요!
							<span class="subheading">
						    <h6><%= "おはようございます, #{current_user.name}さん!良い1日を!"%></h6>
							</span>
            <% elsif (12..17).include?(current_hour) %>
              <%= "안녕하세요, #{current_user.name}님!"%><br>
							 식사하셨나요?
							<span class="subheading">
						    <h6><%= "こんにちは, #{current_user.name}さん!お食事されましたか？"%></h6>
							</span>
            <% elsif (18..21).include?(current_hour) %>
              <%= "안녕하세요, #{current_user.name}님!"%><br>
							 오늘도 고생 믾으셨습니다.
							<span class="subheading">
						    <h6><%= "こんばんは, #{current_user.name}さん!今日もお疲れさまでした"%></h6>
							</span>
            <% else %>
              <%= "#{current_user.name}님!" %><br>
							 늦은 시간까지 고생 믾으셨습니다.
							<span class="subheading">
						    <h6><%= "#{current_user.name}さん!遅い時間まで本当にお疲れさまでした"%></h6>
							</span>
            <% end %>
        <h2>
       	  <%else%>
               <h1>Wanna Me In?</h1>
							 <span class="subheading"><h6>원어민（Native Speaker）のように話したい</h6></span>
					<%end%>
							 <h2 class="subheading">
							   <%= form_with(url: search_dialogs_path, local: true, method: :get, class: "search-form") do |form| %>
                 <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
	              <button class="search-button"><%= image_tag "search.png", class:"search-icon" %></button>
                <% end %>
								</h1>
                </div>
              </div>
            </div>
          </div>
        </header>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

  <!-- Post preview-->
	<div class= "aaaaaa">
    <div class="post-preview">
      <h1 class="post-title">
			</h1>
				<% if user_signed_in? %>
      <p class="post-meta">
        <% days_since_creation = (Date.today - current_user.created_at.to_date).to_i %>
        <% if days_since_creation.zero? %>
          <h1>반갑습니다!</h1>
					<h6 class="dialog__category">お会いできて嬉しいです</h6>
        <% else %>
          <h2>오늘로
	    		  <%= (Date.today - current_user.created_at.to_date).to_i %>
              일째입니다</h2>
				      <h6 class="dialog__category">今日で<%= (Date.today - current_user.created_at.to_date).to_i %>日目です</h6>
         <% end %>
      </p>
				<% else %>
        <h3 class="post-subtitle"></h3>
      <p class="post-meta">
			  <h1><%= link_to '안녕하세요,', new_user_registration_path %></h1>
        <h1><%= link_to '계정을 만드시겠어요?', new_user_registration_path %></h1>
				<h6><%= link_to 'ようこそ！アカウントを作りますか？', new_user_registration_path, class: :dialog__category %></h6>
      </p>
			<% end %>
    </div>
	</div>

<!-- Divider-->
	<hr class="my-4" />

  <div class= "aaaaaa">
    <div class="post-preview">
      <h1 class="post-title">'원어만' 사용법</h1>
			<h6 class="dialog__category">アプリの使い方</h6>
    </div>
	</div>
    

<div class="bbbbbb">
  <div class= "cccccc">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
    <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
    </svg>
		<div class="dddddd">録音する</div>
		<div class="eeeeee">
		ドラマ、ラジオ、ネイティブの会話etc...<br>
		自分も使ってみたいと思った言葉を<br>
		録音しておきます
		</div>
  </div>

  <div class= "cccccc">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
		<div class="dddddd">投稿する</div>
			<div class="eeeeee">
			練習したいフレーズを<br>
		  投稿します。<br>
	  	日本語訳はなるべく<br>
			普段の言葉で書くのがポイント！<br>
		</div>
  </div>

  <div class= "cccccc">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-volume-up" viewBox="0 0 16 16">
    <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
    <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
    <path d="M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z"/>
    </svg>
		<div class="dddddd">練習する</div>
			<div class="eeeeee">
			投稿を聴きながら（見ながら）<br>
		  繰り返し練習しましょう！<br>			
		</div>
  </div>



</div>

  <!-- 固定の投稿するボタン btn-->
  <%= render "shared/postbtn"%>

	<!-- Footer-->
        <%= render "shared/footer"%>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
				<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>