<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wanna Me in</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="index.js"></script>
  </head>

  <body>
  <!-- Navigation-->
		<%= render "shared/header"%>

  <!-- Page Header-->
    <header class="masthead" style="background-image: url('<%= asset_path('home-bg.jpg') %>')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
						<div class="post-heading">

          <h1>
						<% current_hour = Time.now.hour %>
          <% if user_signed_in? %>
            <% if (4..9).include?(current_hour) %>
              <%= "좋은 아침입니다, #{current_user.name}님!"%><br> 
							잘 주무셨나요?							
							<span class="subheading">
						    <h5><%= "おはようございます, #{current_user.name}さん!よくお休みになられましたか？"%></h5>
							</span>
            <% elsif (9..11).include?(current_hour) %>
              <%= "좋은 아침입니다, #{current_user.name}님!"%><br>
							좋은 하루 보내세요!
							<span class="subheading">
						    <h5><%= "おはようございます, #{current_user.name}さん!良い1日を!"%></h5>
							</span>
            <% elsif (12..17).include?(current_hour) %>
              <%= "안녕하세요, #{current_user.name}님!"%><br>
							 식사하셨나요?
							<span class="subheading">
						    <h5><%= "こんにちは, #{current_user.name}さん!お食事されましたか？"%></h5>
							</span>
            <% elsif (18..21).include?(current_hour) %>
              <%= "안녕하세요, #{current_user.name}님!"%><br>
							 오늘도 고생 믾으셨습니다.
							<span class="subheading">
						    <h5><%= "こんばんは, #{current_user.name}さん!今日もお疲れさまでした"%></h5>
							</span>
            <% else %>
              <%= "#{current_user.name}님!" %><br>
							 늦은 시간까지 고생 믾으셨습니다.
							<span class="subheading">
						    <h5><%= "#{current_user.name}さん!遅い時間まで本当にお疲れさまでした"%></h5>
							</span>
            <% end %>
        <h1>
       	  <%else%>
               <h1>Wanna Me In?</h1>
							 <span class="subheading"><h6>원어민（Native Speaker）のように話したい</h6></span>
					<%end%>
							 <h2 class="subheading">
							   <%= form_with(url: search_dialogs_path, local: true, method: :get, class: "search-form") do |form| %>
                 <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
	              <button class="search-button"><%= image_tag "search.png", class:"search-icon" %></button>
                <% end %>
								</h2>
                </div>
              </div>
            </div>
          </div>
        </header>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

  <!-- Post preview-->
	<div class= "aaaaaa">
    <div class="post-preview">
      <h1 class="post-title">
			</h1>
				<% if user_signed_in? %>
      <p class="post-meta">
        <% days_since_creation = (Date.today - current_user.created_at.to_date).to_i %>
        <% if days_since_creation.zero? %>
          <h1>반갑습니다!</h1>
					<h6 class="dialog__category">お会いできて嬉しいです</h6>
        <% else %>
          <h1>오늘로
	    		  <%= (Date.today - current_user.created_at.to_date).to_i %>
              일째입니다</h1>
				      <h6 class="dialog__category">今日で<%= (Date.today - current_user.created_at.to_date).to_i %>日目です</h6>
         <% end %>
      </p>
				<% else %>
        <h3 class="post-subtitle"></h3>
      <p class="post-meta">
			  <h1><%= link_to '안녕하세요,', new_user_registration_path %></h1>
        <h1><%= link_to '계정을 만드시겠어요?', new_user_registration_path %></h1>
				<h6><%= link_to 'ようこそ！アカウントを作りますか？', new_user_registration_path, class: :dialog__category %></h6>
      </p>
			<% end %>

    </div>
	</div>


<!-- 仕事preview-->
  <div class="post.html">
	  <div class= aaaaaa>
      <div class="post-category__title">
        <h2 class="post-title">
	      <%= link_to '仕事の会話', work_dialogs_path(category_id: 2) %>
			  </h2>
      </div>
	  </div>
  </div>
  <!-- カテゴリーの投稿を表示 -->
  <div class="dialog-category-posts">
	  <ul class="list">
      <% @work_dialogs.first(3).each do |dialog| %>
      <li class="list-item">
        <%= render partial: "shared/category", locals: { dialog: dialog } %>
      </li>
      <% end %>
    </ul>
  <!-- もっと見るボタン -->
    <div class="show-more-btn">
	  	<button>もっと見る</button>
		  <div class="close-btn">閉じる
	    </div>
    </div>


<!-- 日常のpreview-->
  <div class="post.html">
	 <div class= aaaaaa>
    <div class="post-category__title">
      <h2 class="post-title">
		    <%= link_to '日常の会話', daily_dialogs_path(category_id: 3) %>
		  </h2>
    </div>
	 </div>
  </div>
   <!-- カテゴリーの投稿を表示 -->
    <div class="dialog-category-posts">
      <% @daily_dialogs.first(3).each do |dialog| %>
      <%= render partial: "shared/category", locals: { dialog: dialog } %>
      <% end %>
    </div>
  <!-- もっと見るボタン -->
    <div class="show-more-btn">
	  	<button>もっと見る</button>
		  <div class="close-btn">閉じる
	    </div>
    </div>

<!-- 旅行のpreview-->
  <div class="post.html">
	 <div class= aaaaaa>
    <div class="post-category__title">
      <h2 class="post-title">
        <%= link_to '旅行の会話', travel_dialogs_path(category_id: 4) %>
			</h2>
    </div>
	 </div>
  </div>
  <!-- カテゴリーの投稿を表示 -->
    <div class="dialog-category-posts">
      <% @travel_dialogs.first(3).each do |dialog| %>
      <%= render partial: "shared/category", locals: { dialog: dialog } %>
      <% end %>
    </div>
  <!-- もっと見るボタン -->
    <div class="show-more-btn">
	  	<button>もっと見る</button>
		  <div class="close-btn">閉じる
	    </div>
    </div>

<!-- 名言のpreview-->
  <div class="post.html">
	 <div class= aaaaaa>
    <div class="post-category__title">
      <h2 class="post-title">
		    <%= link_to '名言', quotes_dialogs_path(category_id: 5) %>
			</h2>
    </div>
	 </div>
  </div>
  <!-- カテゴリーの投稿を表示 -->
    <div class="dialog-category-posts">
      <% @quote_dialogs.first(3).each do |dialog| %>
      <%= render partial: "shared/category", locals: { dialog: dialog } %>
      <% end %>
    </div>
  <!-- もっと見るボタン -->
    <div class="show-more-btn">
	  	<button>もっと見る</button>
		  <div class="close-btn">閉じる
	    </div>
    </div>

  <!-- 固定の投稿するボタン btn-->
  <%= render "shared/postbtn"%>

	<!-- Footer-->
        <%= render "shared/footer"%>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
				<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>