        <!-- Navigation-->
				<%= render "shared/header"%>
        <header class="show__header"></header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

         <!-- Post preview-->
        <div class="post-preview">
          <div class="post.html">
            <h2 class="post-title">検索結果</h2>
						<div class="category__btns">
						</div>
        </div>
        <!-- Divider-->
			  <hr class="my-4" />
        <!-- Post preview-->
				<div class=dialog__posts>
				<% @dialogs.each do |dialog| %>
          <div class="post-preview">
            <div class="post.html">
              <h5 class="post-title"><%= link_to dialog.language, dialog_path(dialog.id), method: :get %></h2>
              <h6 class="post-subtitle"><%= link_to dialog.translation, dialog_path(dialog.id), method: :get %></h3>
              <% if dialog.file.present? %>
							<%= audio_tag dialog.file_url, controls: true, style: "width: 100%; height: 20px; margin-top: 10px;" %>
              <% end %>
            </div>
            <p class="post-meta">
              Category
						<%= link_to dialogs_path(category_id: dialog.category.id) do %>
            <%= dialog.category.name %>
            <% end %>
            </p>
          </div>
        <!-- Divider-->
        <hr class="my-4" />
        <% end %>
				</div>
									
        <!-- post btn-->
								<% if user_signed_in? %>
                  <% link_path = new_dialog_path %>
                <% else %>
                  <% link_path = new_user_session_path %>
                <% end %>
                <%= link_to(link_path, class: 'post-btn') do %>
                  <span class='post-btn-text'>投稿する</span>
									<%= image_tag 'pen.png' , size: '185x50' ,class: "post-btn-icon" %>
                <% end %>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%= render "shared/footer"%>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>