  <!-- Navigation-->
		<%= render "shared/header"%>
      <header class="show__header"></header>
  <!-- Main Content-->
    <div class="container px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

  <!-- Post preview-->
        <div class="post-preview">
          <div class="post.html">
            <h2 class="post-title">検索結果: <%= @dialogs.size %>件</h2>
						<div class="category__btns">
						</div>
        </div>
        <!-- Divider-->
			  <hr class="my-4" />
        <!-- Post preview-->
				<div class=dialog__posts>
   				<% @dialogs.each do |dialog| %>
          <%= render partial: "shared/category", locals: { dialog: dialog } %>
          <% end %>
				</div>
									
  <!-- post btn-->
  <%= render "shared/postbtn"%>

  <!-- Footer-->
  <%= render "shared/footer"%>